@import 'variables';
@import './helpers/typography';
body {
    font-family: 'Encode Sans Condensed', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    padding: 0px;
}

.container {
    display: block;
}

.error {
    color: red;
    font-style: italic;
    font-size: 90% !important;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.main-container {
    margin-top: 60px;
    background-color: #24262E;
}

.content {
    display: inline-block;
    vertical-align: top;
    width: calc(100vw - 200px);
    min-height: 100vh;
    background-color: #2F323C;
}

.default-panel {
    display: block;
    margin: 10px auto;
    // background-color: wheat;
    width: calc(100vw - 300px);
    min-height: 100px;
    color: white;
    i {
        color: #f6a821;
    }
}

.white {
    color: white;
}

.currency {
    letter-spacing: 1px;
    text-align: right !important;
}