.main-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #2f323b;
    text-align: center;
    a {
        display: block;
        position: absolute;
        padding: 10px;
        top: 20px;
        left: 20px;
        color: #949ba2;
        border: 1px solid #f6a821;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
            color: #ffffff;
            background-color: rgba(246, 168, 33, 0.1);
            border-color: #f6a821;
        }
    }
}

.center-panel {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    min-width: 200px;
    min-height: 200px;
    background-color: transparent;
}

.changepassword-header-icon {
    display: inline-block;
    font-size: 60px;
    color: #f6a821;
}

.changepassword-header-title {
    display: inline-block;
    text-align: left;
    color: white;
    h2 {
        padding-left: 25px;
        padding-bottom: 10px;
    }
    h4 {
        color: #949ba2;
        padding-left: 25px;
        font-size: 12px;
    }
}

table {
    margin-top: 10px;
    min-width: 350px;
    border-radius: 4px;
    background-color: rgba(68, 70, 79, 0.5);
    color: white;
    tr {
        td {
            text-align: left;
            padding-top: 10px;
            padding-bottom: 5px;
            padding-left: 15px;
            &.input {
                padding: 0px;
                input {
                    margin: 0 auto;
                    display: block;
                    width: 90%;
                    padding: 5px;
                    border-radius: 4px;
                    font-family: 'Encode Sans Condensed', sans-serif;
                    border: none;
                    background-color: #494b54;
                    color: white;
                }
            }
        }
    }
}

button {
    color: #949ba2;
    background-color: transparent;
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 14px;
    &.changepassword {
        border: 1px solid #f6a821;
        &:hover {
            cursor: pointer;
            color: #ffffff;
            background-color: rgba(246, 168, 33, 0.1);
            border-color: #f6a821;
        }
    }
}