<div class="main-wrapper">
    <a routerLink="/home">Back To Dashboard</a>
    <div class="center-panel">
        <div class="changepassword-header">
            <div class="changepassword-header-icon">
                <i class="fa fa-key"></i>
            </div>
            <div class="changepassword-header-title">
                <h2>Change Password</h2>
                <h4>Please enter the required information to proceed.</h4>
            </div>
        </div>
        <table>
            <tr>
                <td>Old Password</td>
            </tr>
            <tr>
                <td class="input"><input type="password" placeholder="*****"></td>
            </tr>
            <tr>
                <td>New Password</td>
            </tr>
            <tr>
                <td class="input"><input type="password" placeholder="*****"></td>
            </tr>
            <tr>
                <td>New Password Repeat</td>
            </tr>
            <tr>
                <td class="input"><input type="password" placeholder="*****"></td>
            </tr>
            <tr>
                <td>
                    <button class="changepassword">Change Password</button>
                </td>
            </tr>
        </table>
    </div>
</div>