.modal-wrapper {
    position: fixed;
    top: 0px;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(68, 70, 79, 0.7);
    text-align: center;
}

.modal-outer {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
}

.modal {
    display: inline-block;
    position: relative;
    max-width: 300px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    box-shadow: 1px 1px 10px black;
    &.warning {
        .title {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-color: #f7af3e;
            padding: 10px 15px;
            color: white;
            text-transform: capitalize;
        }
        .body {
            background-color: #1d1f24;
            padding: 10px 15px;
            color: white;
        }
        .footer {
            background-color: #1d1f24;
            padding: 10px 15px;
            border-top: 1px solid #1d1f24;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        button {
            padding: 5px 10px;
            color: white;
            background-color: transparent;
            border-radius: 4px;
            &.confirm {
                border: 1px solid #f7af3e;
                &:hover {
                    background-color: #f7af3e;
                    cursor: pointer;
                }
            }
            &.cancel {
                border: 1px solid #D62828;
                margin-left: 2px;
                &:hover {
                    background-color: #D62828;
                    cursor: pointer;
                }
            }
        }
    }
}