<div class="modal-wrapper" *ngIf="isDeleteProductModalOpen">
    <div class="modal-outer" (click)="dismissDeleteProductsModal()"></div>
    <div class="modal warning">
        <div class="title">
            <h2>Delete Selected Products ?</h2>
        </div>
        <div class="body">
            <p>Are you sure to delete these selected products ? Select confirm to proceed and cancel to abort</p>
        </div>
        <div class="footer">
            <button class="confirm" (click)="confirmDeleteProductsModal()">Confirm</button>
            <button class="cancel" (click)="dismissDeleteProductsModal()">Cancel</button>
        </div>
    </div>
</div>

<app-topbar></app-topbar>
<div class="main-container">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="default-panel">
            <h2>Top Products</h2>
            <div class="top-product-panel">
                <div class="product-image">
                    <img src="./../../../../assets/products/pisangkipas.jpg" />
                </div>
                <div class="product-description">
                    <h3>Pisang Kipas</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Total Sold</td>
                                <td>:</td>
                                <td class="currency">200 / 200</td>
                            </tr>
                            <tr>
                                <td>Sold Percentage</td>
                                <td>:</td>
                                <td class="currency">100%</td>
                            </tr>
                            <tr>
                                <td>Total Income</td>
                                <td>:</td>
                                <td class="currency">Rp.600,000.00 </td>
                            </tr>
                            <tr>
                                <td>Total Nett</td>
                                <td>:</td>
                                <td class="currency">Rp.320,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="top-product-panel">
                <div class="product-image">
                    <img src="./../../../../assets/products/brownies.jpg" />
                </div>
                <div class="product-description">
                    <h3>Brownies Nutella</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Total Sold</td>
                                <td>:</td>
                                <td class="currency">200 / 200</td>
                            </tr>
                            <tr>
                                <td>Sold Percentage</td>
                                <td>:</td>
                                <td class="currency">100%</td>
                            </tr>
                            <tr>
                                <td>Total Income</td>
                                <td>:</td>
                                <td class="currency">Rp.600,000.00 </td>
                            </tr>
                            <tr>
                                <td>Total Nett</td>
                                <td>:</td>
                                <td class="currency">Rp.320,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="top-product-panel">
                <div class="product-image">
                    <img src="./../../../../assets/products/pastel.jpg" />
                </div>
                <div class="product-description">
                    <h3>Pastel Kentang</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Total Sold</td>
                                <td>:</td>
                                <td class="currency">200 / 200</td>
                            </tr>
                            <tr>
                                <td>Sold Percentage</td>
                                <td>:</td>
                                <td class="currency">100%</td>
                            </tr>
                            <tr>
                                <td>Total Income</td>
                                <td>:</td>
                                <td class="currency">Rp.600,000.00 </td>
                            </tr>
                            <tr>
                                <td>Total Nett</td>
                                <td>:</td>
                                <td class="currency">Rp.320,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="default-panel product">
            <h2>
                <span class="force-left">
                    <i class="fa fa-trash-o" (click)="showDeleteProductsModal()"></i>
                    
                </span>
                <div class="search-bar">
                    <i class="fa fa-search"></i>
                    <input type="text" [(ngModel)]="productSearch" (keyup)="triggerProductSearch($event)" placeholder="Enter related keywords" />
                </div>
                Products
            </h2>
            <table class="product">
                <thead>
                    <tr>
                        <th width="40"></th>
                        <th width="80">Thumbnail</th>
                        <th width="100">Name <i class="fa fa-sort" (click)="sortData('name')"></i></th>
                        <th width="150">Base Price <i class="fa fa-sort" (click)="sortData('base_price')"></i></th>
                        <th width="150">Selling Price <i class="fa fa-sort" (click)="sortData('selling_price')"></i></th>
                        <th width="80">Total Sold <i class="fa fa-sort" (click)="sortData('total_sold')"></i></th>
                        <th width="100">Total Profit <i class="fa fa-sort" (click)="sortData('total_profit')"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <input type="file" #imageFile [(ngModel)]="newProduct.thumbnail" (change)="previewThumbnail(thumbnailElement, thumbnailPreviewElement)">
                            <div class="preview" id="thumbnail-preview">
                                <i class="fa fa-times" (click)="deleteThumbnail(thumbnailElement, thumbnailPreviewElement)"></i>
                                <img id="thumbnail">
                            </div>
                        </td>
                        <td><input type="text" [(ngModel)]="newProduct.name" placeholder="Name" /></td>
                        <td><input type="text" [(ngModel)]="newProduct.base_price" placeholder="Base price" /></td>
                        <td><input type="text" [(ngModel)]="newProduct.selling_price" placeholder="Selling price" /></td>
                        <td colspan="2">
                            <button class="add">Add Product</button>
                        </td>
                    </tr>
                    <tr *ngFor="let product of products">
                        <td><input type="checkbox" [(ngModel)]="product.isSelected" (change)="productChecked(product)"></td>
                        <td class="text-left"><img src="./../../../../assets/products/{{product.thumbnail}}" class="thumbnail" /> </td>
                        <td class="text-left">{{ product.name | titlecase }}</td>
                        <td class="currency">{{ product.base_price | currency:'IDR':'symbol-narrow':'1.2-3' }}</td>
                        <td class="currency">{{ product.selling_price | currency:'IDR':'symbol-narrow':'1.2-3' }}</td>
                        <td class="text-center">{{ product.total_sold }}</td>
                        <td class="currency">{{ product.total_profit | currency:'IDR':'symbol-narrow':'1.2-3'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>