<app-topbar></app-topbar>
<div class="main-container">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="default-panel">
            <div class="friends">
                <ul>
                    <li *ngFor="let friend of chatFriends" (click)="displayFriendChats(friend.id)">
                        <h3>{{friend.name | titlecase}}</h3>
                        <p>{{friend.lastMessage}}</p>
                    </li>
                </ul>
                <div class="search"></div>
            </div>
            <div class="chat-area">
                <h3 id="chatter-name">{{chatTarget.name | titlecase}}</h3>
                <div class="chat-logs">
                    <ul id="chat-logs-ul" [scrollTop]="scrollTopChatUl">
                        <li *ngFor="let chatLog of chatLogs" [ngClass]="{
                            'log-user': chatLog.id === userId,
                            'log-target': chatLog.id !== userId
                        }">
                            {{chatLog.message}}
                        </li>
                    </ul>
                </div>
                <div class="text-area">
                    <div class="chatbox-area">
                        <input type="text" [(ngModel)]="newMessageString">
                        <i class="fa fa-paper-plane-o" (click)="sendMessage(chatTarget.id)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>