<app-topbar></app-topbar>
<div class="main-container">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="default-panel">

            <div class="hot-panel">
                <h2>1,250</h2>
                <br/> Total Products Sold
                <br/>
                <br/>
                <i class="fa fa-clock-o"></i> Updated : <span class="white">9:30 PM</span>
            </div>
            <div class="hot-panel">
                <h2>Rp.3,750,000.00</h2>
                <br/> Total Gross Incomes
                <br/>
                <br/>
                <i class="fa fa-clock-o"></i> Updated : <span class="white">9:30 PM</span>
            </div>
            <div class="hot-panel">
                <h2>250</h2>
                <br/>
                <span class="white"><i class="fa fa-caret-up"></i>+ 5% from yesterday</span>
                <br/> Daily Products Sold
                <br/>
                <br/>
                <i class="fa fa-clock-o"></i> Updated : <span class="white">9:30 PM</span>
            </div>
            <div class="hot-panel">
                <h2>rp.750,000.00</h2>
                <br/>
                <span class="white"><i class="fa fa-caret-up"></i>+ 5% from yesterday</span>
                <br/> Daily Gross Incomes
                <br/>
                <br/>
                <i class="fa fa-clock-o"></i> Updated : <span class="white">9:30 PM</span>
            </div>
        </div>

    </div>
</div>