<header>
    <div class="logo-content">
        <div class="logo">Logo</div>
    </div>
    <div class="topbar-content">
        <i class="fa fa-bars"></i>
        <ul>
            <li class="notification">
                <i class="fa fa-bell" (click)="triggerContent('notification')"></i>
                <label>5</label>
                <!-- <i class="fa fa-bell-o"></i> -->

                <ul class="notification-content" id="notification-content" style="display: none;">
                    <li>Notification 1</li>
                    <li>Notification 2</li>
                    <li>Notification 3</li>
                    <li>See More..</li>
                </ul>
            </li>
            <li class="email">
                <i class="fa fa-envelope" (click)="triggerContent('email')"></i>
                <label>4</label>
                <!-- <i class="fa fa-envelope-o"></i> -->

                <ul class="email-content" id="email-content" style="display: none;">
                    <li>
                        Adam
                        <br/>
                        <span class="chat-content">How are you?</span>
                    </li>
                    <li>
                        Brian
                        <br/>
                        <span class="chat-content">How are you?</span>
                    </li>
                    <li>
                        Christine
                        <br/>
                        <span class="chat-content">How are you?</span>
                    </li>
                    <li>See All Chats..</li>
                </ul>
            </li>
            <li class="setting">
                <i class="fa fa-cog" (click)="triggerContent('setting')"></i>

                <ul class="setting-content" id="setting-content" style="display: none;">
                    <li>
                        <i class="fa fa-key"></i> Change Password
                    </li>
                    <li>
                        <i class="fa fa-sign-out"></i> Logout
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>